.ant-menu-light {
    border-right-color: #E2DED2 !important;
}

.single-submenu {
    .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
            display: none;
        }
    }
}

.tt-table {

    .ant-collapse {
        background: transparent;
    }

    .ant-collapse-header {
        display: none;
    }

    .ant-collapse-content-box {
        padding: 0 !important;
    }
}
