$mainCls: "tt";
$scrollBarColor: #8ce6c8;
$scrollBarHoverColor: #17e9a3;

$step: 4px;
$mainTextColor: "#000";
$mainFontSize: 12px;
$mainFontweight: 400;

$mainColor: #1a457b;
$whiteColor: #fff;
$blackColor: #000;
$greenColor: #5BE9B9;
$purpleColor: #6E07F3;
$blueColor: #407BFF;
$lightBlueColor: #AEC7FF;
$black1f: #0000001f;
$black14: #00000014;
$blackd: #0000000d;
$black05: #383838;
$grey: #999999;

$xxxLaggerFontSize: 64px;
$xxLaggerFontSize: 48px;
$xLaggerFontSize: 32px;
$laggerFontSize: 24px;
$mediumFontSize: 16px;
$smallFontSize: 8px;

//#region shared component
$headerHeight: 80px;
$pageContentPadding: 20px;
$sideBarWidth: 240px;
$headerPosition: 10;
$headerMidVgColor: #eaeffb;
$headerLeftIconHeighMargin: 5px;
$headerLeftIconHeight: 30px;
$headerRightDivider: #99b2c7;
$toggleHeight: 40px;
$toggleHeight: 40px;
$toggleRight: 10px;
$toggleLeft: 10px;
$toggleTop: 10px;
$toggleIconWidth: 20px;
$headerAvatarHeight: 40px;
$headerNotiWidth: 350px;
$boxBorderRad1: 10px;
$headerHeightMb: 60px;
$pageContentRadius: 12px;
$headerRightIconHeight: 20px;
$dcIconHeight: 40px;
$menuLine: #dde5f1;
$sideBarWidth: 240px;
$sideBarLogoWidth: 140px;
$menuItemPadding: 8px;
$menuItemHeight: 42px;
$menuItemWrapperPadding: 8px;
$menuItemIconWidth: 25px;
$pageTitleIconWidth: 25px;
$boxBorderColor1: #dce6ef;
$btnYellow: #E0AF00;
$headerYellow: #fff9ed;
$headerLightBlue: #f4f7fd;
$tableToggleFilterHeight: 36px;
$listItem2n: #fbfafa;
$normal-border: #d9d9d9;
$normal-color: #7e90aa;
$dcIconWidth: 30px;

//#regin reponsive
$breakPointRetina: 1367px;
$breakPointMbMin: 1025px;
$breakPointMb: 1024px;
