@use "../variable.scss";

.#{variable.$mainCls} {
  &-auth {
    padding: 20px;
    height: 100vh;
    overflow: auto;
    background: url('../../icons/login-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    &-stand_birth {
      position: absolute;
      top: 10%;
      right: 0;
      transform: translate(100%, 0);
      width: 30px;
    }

    &-lazy-cat {
      position: absolute;
      left: 10%;
      bottom: 0;
      transform: translate(0, 50%);
    }

    &-thirth_party_service {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto auto auto;
      width: fit-content;

      &-v2 {
        margin: auto;
      }

      &-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #d7d7d7;
        font-size: #{variable.$mediumFontSize};
        padding: 5px 15px;
        background-color: #{variable.$whiteColor};
        margin: auto;

        &-v2 {
          justify-content: unset;
        }

        img {
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  &-auth_container {
    margin: auto;
    padding: 30px;
    height: fit-content;
    width: 100vw;
    max-width: 500px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid #{variable.$blackColor};
    position: relative;

    transition: all 1s ease !important;
  }

  &-auth_content-wrap {
    overflow: hidden;
  }

  &-auth_content {
    display: flex;
    width: 200%;

    &-signup {
      transform: translate(-50%, 0);
    }
  }

  &-login {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 50%;

    .password-prefix {
      height: 25px;
      width: 25px;
      overflow: hidden;
      position: relative;

      .invisible-eye {
        position: relative;
        height: 100%;

        &-wrap {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        .line {
          transform: translate(0, -50%) rotate(45deg);
          left: 0;
          top: 50%;
          position: absolute;
          background-color: #9e9e9e;
          border: .5px solid #fff;
          width: 100%;
          height: 4px;
          border-radius: 2px;
        }
      }
    }
  }

  &-login-v2 {
    height: 250px;
    display: flex;
  }

  &-login_title {
    font-size: #{variable.$xxLaggerFontSize};
    font-weight: 700;
  }

  &-login_or {
    font-size: #{variable.$mediumFontSize};
    color: #{variable.$blackColor};

    &::before {
      content: '';
      border: .5px solid #{variable.$blackColor};
      height: 0px;
      width: 50px;
      border-radius: 1px;
      display: inline-block;
      margin-right: 5px;
    }

    &::after {
      content: '';
      border: .5px solid #{variable.$blackColor};
      height: 0px;
      width: 50px;
      border-radius: 1px;
      display: inline-block;
      margin-left: 5px;
    }
  }

  &-login_submit_btn {
    width: 100%;
    margin-bottom: 10px;
  }

  &-login_form {
    &-bottom {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #{variable.$purpleColor};
      font-size: #{variable.$mediumFontSize};

      p {
        cursor: pointer;
      }
    }
  }

  &-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    flex: 1 1 50%;

    .password-prefix {
      height: 25px;
      width: 25px;
    }
  }
}
