<tt-table-layout [props]="{showTable: true}" [loading]="false" [data]="[]">
    <ng-container filters>
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
            </div>
    </ng-container>
    <ng-container filters-expand>
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="8">
                    <nz-form-item>
                        <input nz-input placeholder="Basic filter" [(ngModel)]="value"/>
                    </nz-form-item>
                </div>
            </div>
    </ng-container>
</tt-table-layout>
